<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="app">
    <div class="bot-content" v-bind:class="{'height':showPopup == false}">
      <div class="header">
        <div class="image-border">
          <img src="http://venyoo.ru/img/faces/4_33.png" class="img-size" alt="ChatBot Image"></div>
          <div class="user-data">
            <div class="manager-name">Врач-консультант</div>
            <div class="manager-info">Я отвечу на ваши вопросы</div>
          </div>
          <div class="exit-btn" @click="change">-</div>
        </div>
        <div class="content chat-con" id="chat">

          <div class="chat-body" v-show="!contactform">
            <!--Chat Content-->
            <div v-for="message in chat" v-bind:class="{'yourText':message.bot==true, 'myText':message.bot == false}">{{message.text}}</div>
            <!--Chat Content End-->
            <div class="choise" v-show="form">
              <div class="yes" @click="showContactForm">Да</div>
              <div class="no" @click="change">Нет</div>
            </div>
          </div>

          <div class="contactform" v-show="contactform">
            <form class="formContact">
              <div class="write-text">Укажите, пожалуйста, Ваши данные. Мы соединим Вас с врачом.</div>
              <div class="name">
                <input type="text" id="name" class="contactform_name" placeholder="Ваше имя"></div>
                <div class="email">
                  <input type="text" id="email" class="contactform_email" placeholder="Ваш email/телефон">
                </div>
                <div class="submit" style="text-align: center;">
                  <button type="button" class="contactform_send" id="send">Отправить</button>
                </div>
              </form>
          </div>

        </div>

        <div class="footer" v-show="!contactform">
          <div class="spinner" v-show="animation">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <div class="form" v-show="!animation">
            <textarea class="textarea" id="textarea" v-on:keyup.prevent.13="sendMessage" v-model="myMessage" placeholder="Введите ваше сообщение"></textarea>
          </div>
          <div class="send-btn" @click="sendMessage" v-show="!animation">
            <div class="arrow"></div>
          </div>
        </div>

      </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  <script>
    var app = new Vue({
      el:"#app",
      data(){
        return {
          forBot:true,
          bothHideTime: 15000, // 15 сек
          contactform:false,
          showPopupTime:2000, // 15 сек
          showPopup:false,
          animation:true,
          form:false,
          myMessage:'',
          position:0,
          chat:[],
          messages:[
            {
              id:1,
              text:'Здравствуйте! Меня зовут Андрей Анатолиевич. Я - врач-консультант портала Cardiograf.',
              bot:true,
              time:3000, //секунду
              form:false
            },
            {
              id:2,
              text:'Какие у вас жалобы и симптомы? Сформулируйте их одним предложением.',
              bot:true,
              time:6000, //секунду
              form:false
            },
            {
              id:3,
              text:'Обращались ли Вы ранее к врачу по этому поводу?',
              bot:true,
              time:6000, //секунду
              form:false
            },
            {
              id:4,
              text:'Проходили ли Вы обследования ?',
              bot:true,
              time:3000, //секунду
              form:false
            },
            {
              id:5,
              text:'Вы хотите пообщатся с врачем по поводу этого?',
              bot:true,
              time:3000, //секунду
              form:false
            },
            {
              id:6,
              text:'Вам нужна консультация врача-кардиолога для решения вопроса о дообследовании и лечении. Связать Вас?',
              bot:true,
              time:3000, //секунду
              form:true
            }
          ]
        }
      },

      mounted(){
        setTimeout(()=>{
          this.change();
          this.soundChat();
        }, this.showPopupTime)
        this.callBotMessage(this.messages[0].time);
        this.callBotMessage(this.messages[1].time);
        setTimeout(()=>{
          if(this.forBot == true){
            this.change()
          }
        }, this.bothHideTime)
      },
      updated(){
        this.scrollToEnd();
      },
      methods:{
        click(){

        },
        callBotMessage(time){

          setTimeout(()=>{
            this.chat.push(this.messages[this.position]);
            this.soundChat();
            this.position++;
            if(this.position ==1){
              this.animation = true;
            }else{
              this.animation = false;
            }

            if(this.getForm() == true){
              this.form = true;
            }

          }, time)


        },
        sendMessage(){
          var msg = this.prepare();
          this.chat.push(msg)
          this.forBot = false;
          this.animation = true;
          this.soundChat();
          this.myMessage = '';
          if(this.messages[this.position]){
            this.callBotMessage(this.getTimes());
          }else{
            alert(false)
          }

        },
        prepare(){
          var message = {
            id:this.position+1,
            text:this.myMessage,
            bot:false,
            form:false
          };
          return message;
        },
        scrollToEnd(){
          var container = document.querySelector('#chat');
          var scrollHeight = container.scrollHeight;
          container.scrollTop = scrollHeight;
        },
        soundChat(){
          var audio = new Audio(['chat.mp3']);
          audio.play();
        },

        getTimes(){
          var times = this.messages.filter((e)=> {
             return e.id == this.position+1;
          });
          return times[0].time;
        },
        getForm(){
          var forms = this.messages.filter((e)=> {
             return e.id == this.position;
          });
          return forms[0].form;
        },
        change(){
          if(this.showPopup == false){
            this.showPopup = true;
          }else{
            this.showPopup = false;
          }
        },
        showContactForm(){
          this.contactform = true;
        }
      }
    });
  </script>
</body>
</html>
