.bot-content{
  width: 344px;
  height: 450px;
  border: 4px solid rgb(221, 55, 91);
  position: fixed;
  right: 20px;
  bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 10px 10px 0px;
}
.header{
  min-height: 60px;
  margin-bottom: 4px;
  padding-top: 6px;
  background-color: rgb(221, 55, 91);
  border-radius: 5px 5px 0px 0px;
}
.image-border{
  float: left;
  margin-left: 10px;
}
.img-size{
  width: 48px;
  height: 48px;
}
.user-data{
  float: left;
  margin-left: 15px;
  color: rgb(255, 255, 255);
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  margin-top: 6px;
}
.manager-info{
  font-size: 13px;
  margin-top: 4px;
}
.exit-btn{
  float: right;
  color: rgb(255, 255, 255);
  margin: 0px;
  cursor: pointer;
  font-size: 44px;
  padding: 0px 7px;
  position: relative;
  top: -14px;
}
.chat-con{
  width: 100%;
  height: 320px;
  border: 1px solid rgb(211, 211, 211);
  box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll;
}
.chat-content{
  border: 1px solid rgb(221, 220, 215);
  color: rgb(0, 0, 0);
  background-color: rgb(250, 250, 250);
  max-width: 90%;
  padding: 11px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 13px;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  clear: both;
  display: block;
}

.form{
  width: 100%;
  padding-left: 15px;
}
.textarea{
  width: 300px;
  height: 25px;
  border: 1px solid rgb(221, 220, 215);
  border-radius: 16px;
  resize: none;
  margin: 8px auto;
  font-size: 15px;
  font-family: OpenSans, sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  outline: none;
}
.footer{
  position: relative;
}
.send-btn{
  position: absolute;
  right: 22px;
  top: 17px;
  width: 21px;
  height: 21px;
  background-color: rgb(221, 55, 91);
  border-color: rgb(221, 55, 91);
  border-radius: 50%;
  cursor: pointer;
}
.arrow{
  position: absolute;
  left: 49%;
  top: 49%;
  width: 8px;
  height: 8px;
  margin: -4px 0px 0px -6px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  transform: rotate(45deg);
  cursor: pointer;
}
.myText{
  border: 1px solid rgb(221, 220, 215);
  color: rgb(0, 0, 0);
  background-color: rgb(250, 250, 250);
  max-width: 90%;
  padding: 11px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 13px;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  float: right;
  clear: both;
}
.yourText{
  border: 1px solid rgb(221, 220, 215);
  color: rgb(0, 0, 0);
  background-color: rgb(250, 250, 250);
  max-width: 90%;
  padding: 11px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 13px;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  float: left;
  clear: both;
}
.height{
  height: 65px !important;
}
.choise{
  margin-bottom: 5px;
  clear: both;
}
.yes{
  display: inline-block;
  padding: 5px 10px;
  font-family: OpenSans, sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  margin: 5px;
  cursor: pointer;
  width: 115px;
  text-align: center;
  background: limegreen;
}
.no{
  width: 115px;
  display: inline-block;
  padding: 5px 10px;
  font-family: OpenSans, sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  background: red;
}


.spinner{
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translate(-50%);
}
.spinner > div {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background: rgba(0,0,0,1);
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.spinner .bounce3 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.08s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}





/* Contact Form */
.write-text{
  font-size: 15px;
  font-family: OpenSans, sans-serif;
  margin-bottom: 11px;
  color: rgb(51, 51, 51);
}
.contactform_name{
  padding: 0px 12px;
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 4px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid rgb(221, 55, 91);
  border-radius: 2px;
  outline: none;
  transition: border-color 0.1s ease 0s;
}
.contactform_email{
  padding: 0px 12px;
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 4px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid rgb(221, 55, 91);
  border-radius: 2px;
  outline: none;
  transition: border-color 0.1s ease 0s;
}
.contactform_send{
  height: 40px;
  background-color: rgb(221, 55, 91);
  color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  padding: 0px 30px;
}
